/* universal styles */

html {
    font-family: 'Roboto', sans-serif;    
}

body {
    background-color:aliceblue;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 80px 5px;
}

h1, h3 {  
    font-weight: bold;
}


.menu {
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    text-align: center;
    background-color:lightsteelblue;  
}

.intro {    
    font-family: 'Roboto', sans-serif;
    font-size: large;
    text-align: center;
}
.contact {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    text-align: center;
}

hr.solid {
    border-top: 1px solid #000000;
  }

  /* footer */
.footer {
    font-family: 'Architects Daughter', cursive;
    font-size: 18px;
    text-align: center;
}