
body {
    background-color:aliceblue;
}

.intro {    
    font-family: 'Roboto', sans-serif;
    font-size: large;
    text-align: center;
}
.contact {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    text-align: center;
}

.footer {
    font-family: 'Architects Daughter', cursive;
    font-size: 18px;
    text-align: center;
}
h1, h3 {  
    font-weight: bold;
}