
body {
    background-color:aliceblue;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 20px;
}


.back {
    font-family: 'Roboto', sans-serif; 
}

.post-text {
    font-family: 'Roboto', sans-serif;
    font-size: large;   
}

h1, h2, h3 {  
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}