
html {
    font-family: 'Roboto', sans-serif;    
}

body {
    background-color:aliceblue;
}

.back {
    font-family: 'Roboto', sans-serif; 
}

.post-text {
    font-family: 'Roboto', sans-serif;
    font-size: large;   
}

h1, h2, h3 {  
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}